.jr__item-meta {
  font-family: var(--font-monospace);
}

.jr__item-meta {
  align-items: start;
  flex-flow: column;
}

.jr-basics__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.jr-basics__name {
  order: 1;
  flex-basis: 100%;
  font-size: 20pt;
}

.jr-basics__label {
  order: 2;
  flex-basis: 100%;
  margin-top: 0;
}

.jr-basics__summary {
  order: 3;
  flex-basis: 100%;
}

.jr-basics__location-address {
  order: 4;
  flex-basis: 100%;
  margin-top: 12px;
}
.jr-basics__location-city {
  order: 5;
  flex-basis: auto;
}
.jr-basics__location-region {
  order: 6;
  flex-basis: auto;
}
.jr-basics__location-region::before {
  content: ",\00a0";
}
.jr-basics__location-postalCode {
  order: 7;
  flex-basis: auto;
}
.jr-basics__location-postalCode::before {
  content: "\00a0";
}
.jr-basics__location-countryCode {
  display: none;
}
.jr-basics__email {
  order: 8;
  flex-basis: 100%;
}
.jr-basics__phone {
  order: 9;
  flex-basis: 100%;
}
.jr-basics__profile {
  order: 10;
  flex-basis: 100%;
  margin-top: 12px;
}

.jr-work__name::before {
  content: "\00a0";
}

@media (--md) {
  .jr__item-meta {
    align-items: center;
    flex-flow: row wrap;
  }

  .jr__date,
  .jr__date-range,
  .jr-work__location {
    flex-grow: 1;
    text-align: right;
  }

  .jr-awards__awarder,
  .jr-publications__publisher,
  .jr-education__institution,
  .jr-volunteer__organization {
    flex-basis: 100%;
  }
}
